/* Header.css */
.header {
  background-color: #333; /* Màu nền của header */
  color: #fff; /* Màu chữ của header */
  padding: 15px; /* Khoảng cách giữa nội dung và mép của header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ cho header */
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem; /* Kích thước chữ của logo */
  display: flex;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff; /* Màu chữ của các liên kết trong header */
  font-weight: bold;
  transition: color 0.3s ease; /* Hiệu ứng màu chữ khi hover */
}

.nav a:hover {
  color: #ff9900; /* Màu chữ thay đổi khi hover */
}
